
<ion-header>
  <ion-navbar color="primary" class="messages-page-navbar">
    <ion-title class="chat-title">{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="messages-page-content" #content>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" position="top">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="messages">

    <div *ngFor="let message of messages; let i = index" class="message-wrapper">
      <div *ngIf="message.showDaySep" style="text-align:center; padding: 6px 0 6px 0">{{message.createdAt | date: 'dd/MM/yyyy'}}</div>
      <div [class]="'message message-' + message.ownership">
        <div class="message-content">
          <div class="message-content-name" *ngIf="message.showName">{{message.senderName}}</div>{{message.content}}</div>
        <span class="message-timestamp">{{message.createdAt | date: 'HH:mm'}}</span>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" class="messages-page-footer" position="bottom">
    <ion-input [(ngModel)]="message" id="msgInput" autocorrect="true" autocomplete="true" spellcheck="true" (keypress)="onInputKeypress($event)" class="message-editor" placeholder="Digite uma mensagem"></ion-input>

    <ion-buttons end>
      <label for="msgInput" (click)="sendMessage()" ion-button icon-only *ngIf="message" class="message-editor-button">
        <ion-icon name="send"></ion-icon>
      </label>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>