<ion-header>
  <ion-navbar color="primary">
    <ion-title>Despesas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="flex-container" *ngIf="!loaded">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list *ngIf="loaded">
      <ion-item-divider color="light">
        <b>Total de despesas</b>
        <b item-right>{{total | currencyformat:'R$ ':'symbol'}}&nbsp;&nbsp;</b>
      </ion-item-divider>
      <ion-item *ngIf="this.loaded && dataList?.length == 0">
        <p>Nenhum item encontrado.</p>
      </ion-item>
      <ion-item-sliding *ngFor="let data of dataList; let i = index;">
        <button ion-item (click)="editExpense(data)">
          <h2>{{data.description}}</h2>
          <p style="padding-top:6px">
            <i>Grupo: 
              <span *ngIf="mapGroupList[data.groupWhoSplit]">{{mapGroupList[data.groupWhoSplit]}}</span>
              <span *ngIf="!mapGroupList[data.groupWhoSplit]" style="color:red">-escolha um grupo-</span>
            </i>
          </p>
          <div item-right>
            <p>{{data.amount | currencyformat:'R$ ':'symbol'}}</p>
            <p style="padding-top:6px"><i>{{data.expenseDate | date: 'dd MMM yyyy'}}</i></p>
          </div>
          <!--ion-icon hideWhen="ios" name="ios-arrow-forward" item-right></ion-icon-->
        </button>
        <ion-item-options side="right">
          <!--button ion-button color="secondary" [disabled]="!canAddExpense()" (click)="editExpense(data)"><ion-icon name="create"></ion-icon> Editar</button-->
          <button ion-button color="danger" [disabled]="!canAddExpense()" (click)="deleteExpense(data, i)"><ion-icon name="trash"></ion-icon> Excluir</button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>

  <div class="ion-item-spacer"></div>

  <ion-fab bottom right *ngIf="canAddExpense()">
    <button ion-fab (click)="addExpense()"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>

</ion-content>
