page-contact-us {

    .form-item {
        padding-bottom: 16px;
      }
    
      .form-label{
        font-size: 1.0em;
        color: #0d3434;
        padding-bottom:6px;
      }
    
      .form-input{
        border-radius: 6px;
        background-color: #fff;
      }
    

}
