page-create-list {
  input[type="text"] {
    font-size:1.3em;
  }

  .label-text{
    font-size:1.4em;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .label-item{
    font-size:1.5rem !important;
  }

}
